<ion-header>

    <ion-navbar>
         <!-- <ion-title text-center>Invitees</ion-title> -->
         <ion-buttons end>
                <button ion-button outline round (click)="openInvites()" *ngIf="event.type == 'Private'">
                        <ion-badge style="margin-right: 6px " color="danger">{{pendingInviteRequestsNumber}}</ion-badge>
                        Pending Invites
                    </button>
        </ion-buttons>
    </ion-navbar>

    <!-- <ion-toolbar>
        <ion-segment [(ngModel)]="segment" (ionChange)="changeEventMode()">
            <ion-segment-button value="managing">
                Invitees
            </ion-segment-button>
            <ion-segment-button value="invited">
                Blocked
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->

    
</ion-header>




<ion-content padding [id]='content' text-center>
        <h1 text-center ion-text color="primary"> <ion-icon name="contacts"></ion-icon> Invitees</h1>
        
        <ion-searchbar color="white" [(ngModel)]="searchText" (ionInput)="changeSearch()" placeholder="Search by User Name">
        </ion-searchbar>


        <ion-list *ngIf="filteredInviteeUsers?.length > 0">
                <ion-list-header>
                  <p style="color:#F6AA1C;">Current Count: {{inviteeUsers.length}}</p>
                </ion-list-header>
                <ion-item-sliding *ngFor="let user of filteredInviteeUsers">
                  <ion-item>
                    <h2>{{user.name}}</h2>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="showConfirm(user)">
                      <ion-icon name="close"></ion-icon>
                      Uninvite
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>

    <h2 *ngIf="(filteredInviteeUsers)?.length == 0">No Invitees Yet!</h2>
</ion-content>