<ion-header>

  <ion-navbar no-border-bottom>
      <ion-buttons start>
          <button ion-button icon-only menuToggle >
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>Join an Event!</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
          <button full ion-button round large icon-start (click)="openSearchPage('all')" color="primary" style="margin-top: 10%">
              <ion-icon item-left name="list"></ion-icon>
              All Events
            </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button full ion-button round large icon-start (click)="openSearchPage('categories')" color="primary" style="margin-top: 10%">
                <ion-icon item-left name="search"></ion-icon>
                Search by Category
              </button>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
          <button full ion-button round large icon-start [navPush]="manageInvitesPage" color="primary" style="margin-top: 10%">
              <ion-icon *ngIf="acceptedAndRejectedInvitesTotal == 0" item-left name="mail"></ion-icon>
              <ion-badge *ngIf="acceptedAndRejectedInvitesTotal > 0" id="badge" style="margin-right: 6px " color="danger">{{acceptedAndRejectedInvitesTotal}}</ion-badge>
              Manage Invites         
            </button>  
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button block ion-button round large icon-start (click)="scanQRCode()" color="primary" style="margin-top: 10%">
                <ion-icon item-left name="qr-scanner"></ion-icon>
                Scan QR Code
              </button>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>
