<ion-header>

  <ion-navbar>
    <!-- <ion-title text-center>{{event?.name}}</ion-title> -->
    <ion-buttons end>
        <button ion-button icon-only *ngIf="isManaging" (click)="onOpenEdit()">
            <ion-icon name="settings"></ion-icon>
          </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <h1 text-center>{{event?.name}}</h1>
  <button ion-button icon-only outline rounded (click)="openQrpage()">
      <ion-icon name="barcode"></ion-icon>
    </button>
  <p text-center>{{event.date | date}} | {{event.time}} </p>
  <img [src]="event.eventImageUrl" />
  <h4>
    {{event?.description}}
  </h4>
  <ion-card>
      <ion-card-content>
          <ion-row no-padding>
              <ion-col col-4 class="left" >
                <p><b>Type</b> </p>
              </ion-col>
              <ion-col col-8 text-left class="right" >
                <p>{{event.type}}</p>
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col col-4 class="left" >
                <p><b>Category</b></p>
              </ion-col>
              <ion-col col-8 text-left class="right" >
                <p>{{event.category | titlecase}}</p>
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col col-4 class="left" >
                <p><b>Location</b> </p>
              </ion-col>
              <ion-col col-8 text-left class="right" >
                <p>{{event.location}}</p>
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col col-4 class="left" >
                <p><b>Recurring</b></p>
              </ion-col>
              <ion-col col-8 text-left class="right" >
                <p>{{event.recurring == true ? 'Yes' : 'No'}}</p>
              </ion-col>
          </ion-row>
          <ion-row no-padding>
              <ion-col col-4 class="left" >
                <p><b>Creator</b></p>
              </ion-col>
              <ion-col col-8 text-left class="right" >
                <p>{{event.creatorName}}</p>
              </ion-col>
          </ion-row>
        </ion-card-content>
  </ion-card>

  <button *ngIf="!isManaging" ion-button block color="danger"  (click)="showConfirm()">Leave Event</button>

  <!-- <ion-card>

        <img src="assets/imgs/festival.png"/>
    
        <ion-card-content>
          <ion-card-title>
              {{event?.name}}
          </ion-card-title>
          <p>
              {{event?.description}}
          </p>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='musical-notes'></ion-icon>
              Listen
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
    
      </ion-card> -->


</ion-content>