<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button outline round large (click)="openAttendanceRecord()" color="primary" icon-left>
                <ion-icon name="list"></ion-icon>
                View All Records
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-content padding>
        <h1 text-center ion-text color="darkRed">
            <ion-icon name="checkmark-circle"></ion-icon>
            Attendance
        </h1>

        <div *ngIf="!event.allDay">
            <ion-list>
                <ion-list-header>
                    Event Dates
                </ion-list-header>
                <ion-item>
                    <ion-label>From</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY | hh:mm A" [(ngModel)]="fromDate" name="fromDate" (ngModelChange)="changeDate()"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>To</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY | hh:mm A" [(ngModel)]="toDate" name="toDate" (ngModelChange)="changeDate()"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label color="primary">Selected Date</ion-label>
                    <ion-select [(ngModel)]="selectedDate" name="selectedDate">
                        <ion-option *ngFor="let date of eventDates" [value]="date">{{date | date:'MMM dd, y | h:mm a'}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <button ion-button large block icon-start text-wrap round (click)="searchDate()" [disabled]="selectedDate == null">
                <ion-icon name="search"></ion-icon>
                Search {{selectedDate | date:'MMM dd, y | h:mm a'}}
            </button>
        </div>

        <div *ngIf="event.allDay">
            <ion-list>
                <ion-list-header>
                    Event Dates
                </ion-list-header>
                <ion-item>
                    <ion-label>From</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="fromDate" name="fromDate" (ngModelChange)="changeDate()"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>To</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="toDate" name="toDate" (ngModelChange)="changeDate()"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label color="primary">Selected Date</ion-label>
                    <ion-select [(ngModel)]="selectedDate" name="selectedDate" (ionChange)="selectChange()">
                        <ion-option *ngFor="let date of eventDates" [value]="date">{{date | date:'MMM dd, y'}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <button ion-button large block icon-start round text-wrap (click)="searchDate()" [disabled]="selectedDate == null">
                <ion-icon name="search"></ion-icon>
                Search {{selectedDate | date:'MMM dd, y'}}
            </button>
        </div>
        <br>
        <hr>
        <div *ngIf="loadAttendance">
            <button *ngIf="!markedAttendance" block ion-button round large outline icon-start (click)="recordAttendance()" color="yellow" style="margin-top: 10%">
                <ion-icon item-left name="checkbox"></ion-icon>
                Record Attendance
            </button>
            <h2 text-center *ngIf="markedAttendance">Attendance Recorded!</h2>
        </div>


    </ion-content>