page-event-attendance {
    hr {
        //border: 2px solid red !important;
       height: 1px !important;
       width: 100% !important;
        background: white !important;
        //display: block !important;
        //font-size: 2em !important;
      }
}
