<ion-header>

    <ion-navbar>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <h1 text-center ion-text color="yellow"> <ion-icon name="flag"></ion-icon> Polls</h1>
    <ion-searchbar color="white" [(ngModel)]="searchText" (ionInput)="changeSearch()" placeholder="Search by Poll Name"></ion-searchbar>
    <ion-list *ngIf="filteredPolls?.length > 0">
      <ion-list-header>Polls</ion-list-header>
      <ion-item *ngFor="let poll of filteredPolls" (click)="openPoll(poll)">
          <h2>{{poll.name}}</h2>
          <p><ion-icon icon-left name="person" color="primary"></ion-icon> {{poll.creatorName}}</p>
          <ion-note item-end>{{poll.date | date:'M/d/yy, h:mm a'}}</ion-note>
        </ion-item>
    </ion-list>
    <h3 text-center *ngIf="filteredPolls?.length == 0">No Polls Found</h3>
  
    <ion-fab *ngIf="event.allowInviteePolls || isAdmin" bottom right #fab>
      <button color="secondary" ion-fab (click)="addPoll()">
        <ion-icon id="addPoll" name="add"></ion-icon>
      </button>
    </ion-fab>
  
  </ion-content>