<ion-header>

  <ion-navbar>
  
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>{{poll?.name}}</h1>
  <hr>
  <h4 text-center>Results</h4>
  <p text-center>No Votes Yet!</p>
  <hr>
  <h4 text-center>{{!hasVotedInPoll? 'Vote' : 'You have already voted' }}</h4>
  <ion-list *ngIf="poll?.options">
    <ion-item  *ngFor="let option of poll?.options; let i = index" (click)="vote(option)">
      <button ion-button full [ngClass]="{'notVoted': !hasVoted(option), 'voted': hasVoted(option)}" >{{i+1}}. {{option.name}} </button>   
    </ion-item>
  </ion-list>

</ion-content>
