<ion-header>

  <ion-navbar>
      <ion-buttons end>
          <button *ngIf="isAdminOrCreator" ion-button icon-only (click)="openEditPoll()">
            <ion-icon item-left name="settings"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>{{poll?.name}}</h1>
  <hr>
  <h4 text-center>Results</h4>

  <!-- <canvas #doughnutCanvas></canvas> -->
  <ion-list>
    <ion-item *ngFor="let option of poll?.options; let i = index">
        <ion-badge color="yellow" style="font-size:30px;" item-left>{{option.count}}</ion-badge>
      <h2>{{i+1}}. {{option.name}}  </h2>  
      <button ion-button round item-end (click)="vote(option)" [ngClass]="{'notVoted': !hasVoted(option), 'voted': hasVoted(option)}">
        Vote
      </button>
    </ion-item>
  </ion-list>
  <ion-card >
    <ion-card-content >
      <div style="height:100%">
          <canvas #doughnutCanvas></canvas>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>