<!-- <form *ngIf="!create" #f="ngForm" (ngSubmit)="onSignIn(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Sign In</button>
  </form> -->

<!-- <form *ngIf="create" #f="ngForm" (ngSubmit)="onCreate(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" ngModel name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid || password != confirmPassword">Create Account</button>
  </form>
</ion-content> -->-->

<ion-header no-border>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openTutorialPage()">
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div>
      <img src="./assets/imgs/logo.png" style="display:block; margin:auto;">

      <div padding>
        <ion-segment [(ngModel)]="opt" color="primary">
          <ion-segment-button value="signin">
            Sign In
          </ion-segment-button>
          <ion-segment-button value="signup">
            Sign Up
          </ion-segment-button>
        </ion-segment>
      </div>
    
      <div [ngSwitch]="opt">
        <form (ngSubmit)="onSignIn(f)" #f="ngForm" *ngSwitchCase="'signin'">
          <ion-label>Email</ion-label>
          <ion-input type="email" clearInput ngModel required name="email"></ion-input>
          <ion-label>Password</ion-label>
          <ion-input type="password" clearInput ngModel required [minlength]="6" name="password"></ion-input>
          <div padding text-center>
            <button ion-button large round color="primary" type="submit" icon-left [disabled]="!f.valid">
                <ion-icon name="log-in"></ion-icon>
              Sign In
            </button>
            <h5 (click)="forgotPassword()">Forgot Password</h5>
          </div>
        </form>
    
        <form (ngSubmit)="onCreate(f)" #f="ngForm" *ngSwitchCase="'signup'">
          <ion-label float>Name</ion-label>
          <ion-input type="text" ngModel name="name" required></ion-input>
    
          <ion-label float>Email</ion-label>
          <ion-input type="email" ngModel name="email" required></ion-input>
    
          <ion-label float>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required [minlength]="6"></ion-input>
    
          <ion-label float>Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required [minlength]="6"></ion-input>
    
          <div padding text-center>
            <button ion-button large round color="primary" type="submit" icon-left [disabled]="!f.valid || password != confirmPassword">
              <ion-icon name="person-add"></ion-icon>
              Sign Up
            </button>
          </div>
        </form>
      </div>




  </div>

  
</ion-content>