<ion-content padding>
  <h1 text-center>QRme</h1>
  <h3 text-center>An Event Management Application</h3>

  <button block color="blue" ion-button (click)="create = false;">Sign In</button>
  <br>
  <button block color="yellow" ion-button (click)="create = true;">Create Account</button>

  <button block color="danger" ion-button (click)="onGoogle()">Google</button>

  <br>
  <br>

  <form *ngIf="!create" #f="ngForm" (ngSubmit)="onSignIn(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Sign In</button>
  </form>

  <form *ngIf="create" #f="ngForm" (ngSubmit)="onCreate(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" ngModel name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required [minlength]="6"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid || password != confirmPassword">Create Account</button>
  </form>
</ion-content>