page-post {
    #comment{
        font-size: 25px !important;
    }

    #addCircle{
        font-size: 30px !important;
    }

    #commentCard{
        width: 85%;    
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        //border: 2px solid red !important;
       // height: 10px !important;
        //width: 500px !important;
        background: white !important;
        //display: block !important;
        //font-size: 2em !important;
       // visibility: visible !important;
      }

}
