<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!shouldDeleteAccount">Change Your Password</ion-title>
    <ion-title *ngIf="shouldDeleteAccount">Delete Your Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div [ngSwitch]="opt">
        <form (ngSubmit)="onChangePassword(f)" #f="ngForm" *ngSwitchCase="'changePassword'" >

            <ion-label>Old Password</ion-label>
            <ion-input type="password" clearInput ngModel required [minlength]="6"  name="oldPassword"></ion-input>
      
            <ion-label>New Password</ion-label>
            <ion-input type="password" clearInput ngModel required [minlength]="6" name="newPassword"></ion-input>
      
      
            <div padding text-center>
              <button ion-button large round color="primary" type="submit" icon-start [disabled]="!f.valid">
                  <ion-icon name="refresh"></ion-icon>
                Change Password
              </button>
            </div>
      
      
          </form>

          <form (ngSubmit)="onDeleteAccount(f)" #f="ngForm" *ngSwitchCase="'deleteAccount'" >

              <ion-label>Password</ion-label>
              <ion-input type="password" clearInput ngModel required [minlength]="6"  name="oldPassword"></ion-input>

              <div padding text-center>
                <button ion-button large round icon-start color="danger" type="submit"  [disabled]="!f.valid">
                    <ion-icon name="close"></ion-icon>
                  Delete Account         
                </button>
              </div>
        
        
            </form>


    </div>
   

</ion-content>
