<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu {{email}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="outer-content">
        <ion-list>
            <ion-list-header>
                Navigate
            </ion-list-header>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(rootPage)" >
                <ion-icon item-start name="book"></ion-icon>
                Your Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(publicEventsPage)" *ngIf="isAuthenticated">
                <ion-icon item-start name="log-in"></ion-icon>
                Public Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(signInUpPage)" *ngIf="!isAuthenticated">
                <ion-icon item-start name="person"></ion-icon>
                Sign Up
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLogout()" *ngIf="isAuthenticated">
                <ion-icon item-start name="log-out"></ion-icon>
                Log out
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(settings)" *ngIf="isAuthenticated">
                <ion-icon item-start name="cog"></ion-icon>
                Settings
            </button>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>