<div *ngIf="showSplash" class="splash">
    <div class="spinner2"></div>
</div>


<ion-menu [content]="nav">
    <ion-header text-center>
        <ion-toolbar>
            <!-- <ion-title>Menu {{email}}</ion-title> -->
        </ion-toolbar>
        <img style="height: 60%; width: 90%; display: block; margin: auto;" src="./assets/imgs/logo.png">
        <br>
        <ion-title text-center>{{email}}</ion-title>
        <button ion-button round small outline color="danger" text-center icon-start (click)="onLogout()" *ngIf="isAuthenticated">
                <ion-icon item-start name="log-out"></ion-icon>
            Log Out
        </button>
    </ion-header>
    <ion-content class="outer-content">
            
        <ion-list>
            <ion-list-header>
                Navigate
            </ion-list-header>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(rootPage)" >
                <ion-icon item-start name="book"></ion-icon>
                Your Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(joinEventsPage)" *ngIf="isAuthenticated">
                <ion-icon item-start name="add-circle"></ion-icon>
                Join Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(signInUpPage)" *ngIf="!isAuthenticated">
                <ion-icon item-start name="person"></ion-icon>
                Sign Up
            </button>
            <!-- <button class="menuItem" ion-item icon-left menuClose (click)="onLogout()" *ngIf="isAuthenticated">
                <ion-icon item-start name="log-out"></ion-icon>
                Log out
            </button> -->
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(settings)" *ngIf="isAuthenticated">
                <ion-icon item-start name="cog"></ion-icon>
                Settings
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(about)">
                    <ion-icon item-start name="information-circle-outline"></ion-icon>
                    About
                </button>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>