<div *ngIf="showSplash" class="splash">
    <div class="spinner2"></div>
</div>

<ion-menu [content]="nav">
    <ion-header text-center>
        <br>
        <br>
        <img style="height: 20%; width: 80%; display: block; margin: auto;" src="./assets/imgs/logo.png">
        <br>
        <ion-title text-center>{{email}}</ion-title>
        <button ion-button round small outline color="danger" text-center icon-start (click)="onLogout()" *ngIf="isAuthenticated">
            <ion-icon item-start name="log-out"></ion-icon>
            Log Out
        </button>
    </ion-header>
    <ion-content class="outer-content">

        <ion-list>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(rootPage)">
                <ion-icon item-left name="calendar" color="primary"></ion-icon>
                Your Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(joinEventsPage)" *ngIf="isAuthenticated">
                <ion-icon item-left name="add-circle" color="primary"></ion-icon>
                Join Events
            </button>
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(settings)" *ngIf="isAuthenticated">
                <ion-icon item-left name="cog" color="primary"></ion-icon>
                Settings
            </button>
            <!-- <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(tutorial)" *ngIf="isAuthenticated">
                <ion-icon item-left name="help-circle" color="primary"></ion-icon>
                Tutorial
            </button> -->
            <button class="menuItem" ion-item icon-left menuClose (click)="onLoad(about)">
                <ion-icon item-left name="information-circle" color="primary"></ion-icon>
                About
            </button>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>