<ion-header>

    <ion-navbar>
      <ion-title text-center>Event Info</ion-title>
      <!-- <ion-buttons end>
        <button ion-button (click)="onShowOptions($event)">
          Edit
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="onShowOptions($event)">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons> -->
  
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <h1 text-center>{{event?.name}}</h1>
    <div text-center>
      <p>{{event?.location}} </p>
      <p *ngIf="event && !event?.allDay" text-center>
          <span *ngIf="event?.repeat != 'Never'" text-center>Next Date: <br></span>
           Starts: {{eventProvider.getNextEventDate(event) | date:'M/d/yy, h:mm a'}}
          <br> Ends: {{eventProvider.getNextEventDateEnd(event) | date:'M/d/yy, h:mm a'}}
        </p>
        <p *ngIf="event && event?.allDay" text-center>
          <span *ngIf="event?.repeat != 'Never'"  text-center>Next Date:  <br> </span>
           Starts: {{eventProvider.getNextEventDate(event) | date:'M/d/yy'}} - All Day
          <br> Ends: {{eventProvider.getNextEventDateEnd(event) | date:'M/d/yy'}} - All Day
        </p>
      <p *ngIf="event?.repeat != 'Never'">{{event?.repeat}}</p>
      <!-- <p *ngIf="!event.endRepeat != 'Never'">End Repeat Date: {{event?.endRepeatDate | date:'M/d/yy, h:mm a'}}</p> -->
    </div>
    <img [src]="event?.eventImageUrl" />
    <hr>
    <h4>
      {{event?.description}}
    </h4>
    <ion-card>
        <ion-card-content>
            <ion-row no-padding>
                <ion-col col-4 class="left" >
                  <p><b>Type</b> </p>
                </ion-col>
                <ion-col col-8 text-left class="right" >
                  <p>{{event.type}}</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col col-4 class="left" >
                  <p><b>Category</b></p>
                </ion-col>
                <ion-col col-8 text-left class="right" >
                  <p>{{event.category | titlecase}}</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col col-4 class="left" >
                  <p><b>Location</b> </p>
                </ion-col>
                <ion-col col-8 text-left class="right" >
                  <p>{{event.location}}</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col col-4 class="left" >
                  <p><b>Repeats</b></p>
                </ion-col>
                <ion-col col-8 text-left class="right" >
                  <p>{{event.repeat}}</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col col-4 class="left" >
                  <p><b>Event Creator</b></p>
                </ion-col>
                <ion-col col-8 text-left class="right" >
                  <p>{{event.creatorName}}</p>
                </ion-col>
            </ion-row>
          </ion-card-content>
    </ion-card>
    <br>
  
    <button full large round ion-button *ngIf="!isAdmin && !isInvitee && event.type ==='Private' && !inviteRequestExists" icon-start (click)="requestInvite()">
        <ion-icon item-left name="mail"></ion-icon>
      Request Invite
    </button>
    <h2 text-center *ngIf="!isAdmin && !isInvitee && event.type ==='Private' && inviteRequestExists">Invite Requested!</h2>

    <button full large round ion-button *ngIf="event.type =='Public' && !isAdmin && !isInvitee" icon-start  (click)="joinEvent()">
      <ion-icon item-left name="add-circle"></ion-icon>
      Join Event
    </button>
    
    <h2 text-center *ngIf="isAdmin">You are managing this event!</h2>
    <h2 text-center *ngIf="isInvitee">You have already joined this event!</h2>
  
  </ion-content>