<ion-header>

  <ion-navbar>
    <ion-title> <span class="categoryName">{{category | titlecase }}</span></ion-title>
  </ion-navbar>

  <ion-searchbar color="white" [(ngModel)]="searchText" (ionInput)="changeSearch()" placeholder="Search">
    </ion-searchbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="(filteredEvents)?.length > 0" >
        <!-- <ion-list-header>Today</ion-list-header> -->
        <ion-item  *ngFor="let event of filteredEvents" (click)="onLoadEvent(event)">
            <ion-avatar item-start>
                <img *ngIf="event" [src]="event.eventImageUrl">
              </ion-avatar>
            <h2>{{event.name}}</h2>
            <h3>Creator: {{event.creatorName}}</h3>
            <p *ngIf="!event.allDay">{{eventProvider.getNextEventDate(event) | date:'M/d/yy, h:mm a'}}</p>
            <p *ngIf="event.allDay">{{eventProvider.getNextEventDate(event) | date:'M/d/yy'}} - All Day</p>
            <ion-note *ngIf="event.type == 'Private'" style="color:red" item-end>Private</ion-note>
            <ion-note *ngIf="event.type == 'Public'" style="color: #40d647" item-end>Public</ion-note>     
        </ion-item>
    </ion-list>
    <h2 *ngIf="(filteredEvents)?.length == 0">No Events Found</h2>
</ion-content>
